@model BLL.ChangePassFM

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    <div class="error">
        @ViewBag.ErrorMessage
    </div>

    @Html.HiddenFor(model => model.ID)

    <div class="passwordBox">
        Current Password
        @Html.PasswordFor(model => model.CurrentPass)
    </div>
    <div class="passwordBox">
        New Password
        @Html.PasswordFor(model => model.NewPass)
    </div>
    <div class="passwordBox">
        Confirm Password
        @Html.PasswordFor(model => model.ConfirmPass)
    </div>
    <input type="submit" value="Change Password" />
}
